/* This sets the margin and padding of every HTML element to zero and 
the box-sizing: border-box; declaration changes the box model by ensuring 
that the padding and border of an element no longer increases its width. */

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  .calculator-grid {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 400px;
  }