*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}
body {
    padding: 0;
    margin: 0;
    background: black;
}
.number {
    border-radius: 50%;
    background-color: #808080;
}
.del {
    border-radius: 50%;
    background-color: white;
}
.operator-button {
    background-color: #ffa64d;
    
}
button {
    border-radius: 90px;
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}    
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
}
.calculator-grid > .operator-button:hover {
    background-color: #ffcc99;
    transform: scale(1.2);
}
.calculator-grid > .number:hover {
    background-color: #A9A9A9;    
    transform: scale(1.1);
}
.calculator-grid > .del:hover {
    background-color: red;   
    transform: scale(1.3); 
}
.span-two {
    grid-column: span 2;
}
.calculator-grid > .span-two:hover {
    background-color: red;
    transform: scale(1.3);
}

.output {
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    color: black;
}
.output .previous-operand {
    color: red;
    font-size: 1.5rem;
}
.output .current-operand {
    color: black;
    font-size: 2.5rem;
    text-align: right;
}